@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'TTLaundryGothicB';
}
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzd_4Igvlr0e1Ner4uZmFrYGdKRzie26YtiqVk8pcMQg&s');
  background-size: cover;
  color: #333333;
}
.title {
  margin-left: 50px;
  text-shadow: 2px 2px 1px rgb(185, 176, 176);
}
.title a {
  text-decoration: none;
  color: #333333;
  font-size: x-large;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.navbar {
  font-size: 20px;
  margin-top: 30px;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 15px 0 0 15px;
}
.navbar ul li {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid black;
}
.navbar ul li a {
  text-decoration: none;
  color: #333333;
}

.navbar ul li a:hover {
  color: brown;
  background-color: transparent;
  border-top: solid brown;
  border-bottom: solid brown;
}
.menu-icon {
  display: none; /* 기본적으로 숨김 */
  font-size: 24px;
  cursor: pointer;
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
  .nav {
    display: none; /* 기본적으로 숨김 */
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: transparent;
  }

  .nav li {
    margin-left: 0;
    margin-top: 10px;
  }

  .menu-icon {
    display: block; /* 화면 작아질 때 보임 */
  }

  .menu-toggle {
    display: none; /* input 요소는 숨김 */
  }

  /* input 요소 체크 시 메뉴 표시 */
  .menu-toggle:checked ~ .nav {
    display: flex;
  }
}
.main .container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  height: 100%;
}
#mainimg {
  border-radius: 2%;
}
.main .maindesc {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
  width: 600px;
  background-image: url('https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb2cb3060-e4e1-43fe-9980-0591c94ec8e8%2FLearn.gif&blockId=2a73376e-aac2-4b39-9568-441bbf3eed9a');
  background-size: cover;
  background-repeat: no-repeat;
}
.grade {
  display: flex;
}

h2 {
  font-size: 40px;
}
.main .maindesc img {
  width: 30px;
  height: 30px;
}
p {
  font-size: 30px;
}
.grade p {
  font-size: 30px;
}
.footer {
  display: flex;
  height: 60px;
  gap: 30px;
  background-color: transparent;
  background-size: cover;
  justify-content: right;
  right: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.desc {
  display: flex;
  margin-top: 16px;
  gap: 20px;
}
.desc p {
  font-size: 20px;
}

#mainimg {
  height: 550px;
  width: auto;
}
.member_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-top: 30px;
}

.card {
  width: 250px;
  flex-direction: column;
}
.card-img {
  height: 333px;
  display: flex;
}
.sidebar {
  position: fixed;
  padding-top: 5px;
}
.sidebar_item {
  margin: 30px 0 0 20px;
}
.sidebar_item ul {
  list-style-type: none;
  font-size: 20px;
}
.sidebar ul p {
  font-size: 30px;
  margin-top: 50px;
}

.sidebar_item li {
  text-align: center;
  margin: 20px 0 0 0px;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  border-radius: 100%;
  width: 200px;
}
.sidebar_item li:hover {
  border-bottom: 10px solid rgb(244, 9, 9);
  border-right: 10px solid rgb(45, 6, 242);
  transform: translateY(-6px);
  transition-duration: 0.4s;
  transform-box: content-box;
}

.sidebar_item a {
  text-decoration: none;
  color: #333333;
  font-size: 30px;
}

.card-head {
  height: 50px;
  background-color: transparent;
  border-bottom: 2px solid #333333;
  line-height: 50px;
}
.card-footer {
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  border-bottom: 2px solid #333333;
}

.card:hover {
  transform: translateY(10px);
  transition-duration: 0.5s;
  transform-box: content-box;
}

.member_container a {
  text-decoration: none;
  color: #333333;
}

.secon_container {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}
.secon_desc {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}
.secon_desc a {
  text-decoration: none;
  color: #333333;
}
.secon_desc a:hover {
  color: brown;
}
.secon_p p {
  margin-bottom: 25px;
  font-size: 20px;
}
.review {
  margin-top: 500px;
}
.review_header {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.review h1 {
  font-size: 50px;
}
.review h4 {
  font-size: 50px;
  text-align: center;
}
.review_main {
  height: 700px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.ahnlab {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 80%;
}
.ahnlab_p {
  margin-top: 10px;
}
.ahnlab_p p {
  margin-bottom: 20px;
}
.ahnlab_desc a {
  text-decoration: none;
  color: #333333;
}
.ahnlab_desc a:hover {
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(21, 21, 125);
}
.ahnlab img {
  width: 60%;
  height: 60%;
  border-radius: 5%;
}
.review_end {
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.review_end p {
  text-align: center;
  width: 80%;
}
.review_end p:nth-child(2) {
  margin-top: 100px;
}
#there {
  font-size: 300px;
  text-align: center;
}
table {
  width: 500px;
  height: 500px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 100px;
  height: 40px;
}
th,
td {
  padding: 20px;
}
th {
  text-align: center;
}
caption {
  font-size: 30px;
}
#connect {
  display: flex;
  justify-content: right;
  font-size: 50px;
  text-decoration: none;
  margin: 30px 6% 0 0;
}
#connect button {
  font-size: 30px;
  border-radius: 5%;
  background-color: transparent;
}
#connect button:hover {
  color: white;
  border-color: white;
  background-image: url('https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif');
  background-size: cover;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form input {
  width: 200px;
  height: 30px;
}
div,
input,
textarea {
  box-sizing: border-box;
}

.form-background {
  padding: 30px;
}

.form-white {
  background-color: transparent;
  padding: 30px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.form-input {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.first-name {
  width: 50%;
  float: left;
  padding: 10px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  display: block;
  margin-left: auto;
}
.button:hover {
  border-color: white;
  color: white;
  background-image: url('https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif');
}
.form_item {
  margin-top: 50px;
}
textarea {
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid black;
}
.boxmodel_container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.boxmodel_container h1 {
  font-size: 50px;
}
.boxmodel_container h2 {
  margin-top: 20px;
  font-size: 30px;
}
.boxbox {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  padding: 30px;
  border: 20px solid red;
  background-color: blueviolet;
  box-shadow: 0 0 0 20px blue;
  margin-top: 60px;
}
.boxmodel_main {
  display: flex;
  margin-top: 100px;
}

.boxmodel_desc p {
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  width: 500px;
}
