@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'TTLaundryGothicB';
}
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzd_4Igvlr0e1Ner4uZmFrYGdKRzie26YtiqVk8pcMQg&s');
  background-size: cover;
  background-repeat: no-repeat;
  color: #333333;
}
.title {
  margin-left: 50px;
  text-shadow: 2px 2px 1px rgb(185, 176, 176);
}
.title a {
  text-decoration: none;
  color: #333333;
  font-size: x-large;
}
.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.navbar {
  font-size: 20px;
  margin-top: 30px;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 15px 0 0 15px;
}
.navbar ul li {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid black;
}
.navbar ul li a {
  text-decoration: none;
  color: #333333;
}

.navbar ul li a:hover {
  color: brown;
  background-color: transparent;
  border-top: solid brown;
  border-bottom: solid brown;
}
.menu-icon {
  display: none; /* 기본적으로 숨김 */
  font-size: 24px;
  cursor: pointer;
}

.main .container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  height: 100%;
}
#mainimg {
  border-radius: 2%;
}
.main .maindesc {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
  width: 600px;
  background-image: url('https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb2cb3060-e4e1-43fe-9980-0591c94ec8e8%2FLearn.gif&blockId=2a73376e-aac2-4b39-9568-441bbf3eed9a');
  background-size: cover;
  background-repeat: no-repeat;
}
.grade {
  display: flex;
}

h2 {
  font-size: 40px;
}
.main .maindesc img {
  width: 30px;
  height: 30px;
}
p {
  font-size: 30px;
}
.grade p {
  font-size: 30px;
}
.footer {
  display: flex;
  height: 60px;
  gap: 30px;
  background-color: transparent;
  background-size: cover;
  justify-content: right;
  right: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.desc {
  display: flex;
  margin-top: 16px;
  gap: 20px;
}
.desc p {
  font-size: 20px;
}

#mainimg {
  height: 550px;
  width: auto;
}
.portfolio_main {
  display: flex;
}
.portfolio_main .container {
  margin: 5% 0 0 7%;
  width: 60%;
}
.member_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-top: 30px;
}

.card {
  width: 250px;
  flex-direction: column;
}
.card-img {
  height: 333px;
  display: flex;
}
.sidebar {
  margin: 2% 0 0 1%;
}
.sidebar_item {
  margin: 30px 0 0 20px;
}
.sidebar_item ul {
  list-style-type: none;
  font-size: 20px;
}
.sidebar ul p {
  font-size: 30px;
  margin-top: 50px;
}

.sidebar_item li {
  text-align: center;
  margin: 20px 0 0 0px;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  border-radius: 100%;
  width: 200px;
}
.sidebar_item li:hover {
  border-right: 10px solid rgb(244, 9, 9);
  border-bottom: 10px solid rgb(45, 6, 242);
  transform: translateY(-6px);
  transition-duration: 0.4s;
  transform-box: content-box;
}

.sidebar_item a {
  text-decoration: none;
  color: #333333;
  font-size: 30px;
}

.card-head {
  height: 50px;
  background-color: transparent;
  border-bottom: 2px solid #333333;
  line-height: 50px;
}
.card-footer {
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  border-bottom: 2px solid #333333;
}

.card:hover {
  transform: translateY(10px);
  transition-duration: 0.5s;
  transform-box: content-box;
}

.member_container a {
  text-decoration: none;
  color: #333333;
}

.secon_container {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}
.secon_desc {
  background-color: rgb(245, 191, 191);
  display: flex;
  padding-left: 2%;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  color: rgb(76, 72, 72);
  border: 3px solid rgb(132, 126, 126);
  border-radius: 5%;
  margin-left: 50px;
}
.secon_desc a {
  text-decoration: none;
  color: #333333;
}
.secon_desc a:hover {
  color: brown;
}
.secon_p p {
  margin-bottom: 25px;
  font-size: 20px;
}
.review {
  margin-top: 500px;
}
.review_header {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.review h1 {
  font-size: 50px;
}
.review h4 {
  font-size: 50px;
  text-align: center;
}
.review_main {
  height: 700px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.ahnlab {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 80%;
}
.ahnlab_p {
  margin-top: 10px;
}
.ahnlab_p p {
  margin-bottom: 20px;
}
.ahnlab_desc a {
  text-decoration: none;
  color: #333333;
}
.ahnlab_desc a:hover {
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(21, 21, 125);
}
.ahnlab img {
  width: 60%;
  height: 60%;
  border-radius: 5%;
}
.review_end {
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.review_end p {
  text-align: center;
  width: 80%;
}
.review_end p:nth-child(2) {
  margin-top: 100px;
}
#there {
  margin-top: 10%;
  font-size: 300px;
  text-align: center;
}
table {
  width: 500px;
  height: 500px;
  margin: 2% 0 0% 20%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 100px;
  height: 40px;
}
th,
td {
  padding: 20px;
}
th {
  text-align: center;
}
caption {
  font-size: 30px;
}
#connect {
  display: flex;
  justify-content: right;
  font-size: 50px;
  text-decoration: none;
  margin: 30px 6% 0 0;
}
#connect button {
  font-size: 30px;
  border-radius: 5%;
  background-color: transparent;
}
#connect button:hover {
  color: white;
  border-color: white;
  background-image: url('https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif');
  background-size: cover;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form input {
  width: 200px;
  height: 30px;
}
div,
input,
textarea {
  box-sizing: border-box;
}

.form-background {
  padding: 30px;
}

.form-white {
  background-color: transparent;
  padding: 30px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.form-input {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.first-name {
  width: 50%;
  float: left;
  padding: 10px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  display: block;
  margin-left: auto;
}
.button:hover {
  border-color: white;
  color: white;
  background-image: url('https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif');
}
.form_item {
  margin-top: 50px;
}
textarea {
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid black;
}
.boxmodel_container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% 0 0 7%;
  width: 60%;
}
.boxmodel_container h1 {
  font-size: 50px;
}
.boxmodel_container h2 {
  margin-top: 20px;
  font-size: 30px;
}
.boxbox {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  padding: 30px;
  border: 20px solid red;
  background-color: blueviolet;
  box-shadow: 0 0 0 20px blue;
  margin-top: 60px;
}
.boxmodel_main {
  display: flex;
  margin-top: 100px;
}

.boxmodel_desc p {
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  width: 500px;
}
/* 미디어 쿼리 */
@media all and (max-width: 767px) {
  * {
    font-size: 15px;
  }
  body {
    height: 100%;
  }
  h1 {
    font-size: 20px;
    margin-left: 5%;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .portfolio_main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer {
    margin-right: 0;
    position: static;
  }
  .navbar ul li {
    margin: 0 0 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    width: 100%;
    height: 1px;
  }
  .navbar ul li a {
    width: 40px;
    border: none;
    word-wrap: break-word;
  }
  .navbar ul li a:hover {
    text-decoration: none;
  }
  .navbar .container {
    height: 100%;
    width: 100%;
  }
  #mainimg {
    width: 100%;
  }
  h2 {
    font-size: 20px;
  }
  .maindesc {
    padding: 0 0 0 0;
  }
  .maindesc p {
    font-size: 20px;
  }
  .grade img {
    width: 20px;
    height: 10px;
  }
  .grade {
    display: flex;
  }
  caption {
    margin-top: 10%;
    width: 160px;
  }
  table {
    width: 500px;
    height: 500px;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 30px;
    height: 40px;
  }
  th,
  td {
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 1;
  }
  th {
    text-align: center;
    width: 0;
  }
  .table-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }
  .boxmodel_main {
    display: flex;
    flex-direction: column;
  }
  .boxbox {
    margin-left: 20%;
  }
  .boxmodel_main {
    width: 100%;
  }
  .boxmodel_desc {
    width: 200px;
  }
  .boxmodel_desc p {
    margin: 20% 0 0 30%;
    width: 100%;
  }
  .secon_container {
    display: flex;
    flex-direction: column;
  }
  .secon_container iframe {
    width: 100%;
    height: 100%;
  }
  .secon_desc {
    margin-top: 5%;
    width: 80%;
  }
  .ahnlab {
    display: flex;
    flex-direction: column;
  }
  .ahnlab img {
    width: 100%;
  }
  .review_main {
    height: 100%;
  }
  .review_end {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .member_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
  }
  .card img {
    width: 60%;
    height: 65%;
    margin-top: 48%;
  }
  .card-head {
    width: 60%;
  }
  .card-footer {
    width: 60%;
  }
  .form-white form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #first-name {
    margin-top: 18%;
  }
  textarea {
    width: 100%;
  }
}
